@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
    body * {
      visibility: hidden;
    }
  
    .barcode-container,
    .barcode-container * {
      visibility: visible;
    }
  
    .barcode-container {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  